.container {
    color: #484848;
    padding-left: 15px;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.nameContainer {
    display: flex;
    align-items: center;
}

.name {
    cursor: pointer;
}

.selectedName {
    color: #1563FF;
}

.hasChildLine::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 1px; 
    height: 100%; 
    background-color: #CBCBCB; 
    z-index: -1;
}

.chevron {
    height: 12px;
    width: 12px;
    line-height: 12px;
    color: #989898;
    background: white;
    cursor: pointer;
    text-align: center;
    margin-right: 3px;
}

.expanded {
    transform: rotate(90deg);
}

.noChevron {
    visibility: hidden;
}

.none {
    display: none;
}